@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Sora:wght@100..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

/* global.css */
html {
  scroll-behavior: smooth;
}

@layer components {
  .hero {
    background: linear-gradient(180deg, #fcfcfc 0%, #e1e5e9 50%, #cdd2d8 100%);
  }

  footer .links {
    @apply flex flex-col gap-[10px];
  }
  footer .links h1 {
    @apply text-[20px] font-bold text-[#FFFFFF];
  }
  footer .links a {
    @apply vsm:opacity-80 hover:opacity-100 duration-300;
  }
}

.boxShadow {
  box-shadow: 0px 49px 100px 0px #1a2b3b99;
}
@media screen and (max-width: 450px) {
  .boxShadow {
    box-shadow: none;
  }
}

.chat-page .main {
  background-image: url("/chatBg.png");
  background-position: top;
  background-size: auto;
  background-repeat: no-repeat;
}
.chat-page .chat-btn {
  background: linear-gradient(15.46deg, #91bef7 26.3%, #2763ad 86.4%);
  box-shadow: 0px 21px 27px -10px #90bff766;
}
